@use "@gear-js/ui/variables" as *;

.CardFeature {
  border-width: 1px;
  background: rgb(18, 18, 18);
  background: linear-gradient(
    27deg,
    rgba(18, 18, 18, 0.74) 0%,
    rgba(18, 18, 18, 0.742734593837535) 100%
  );
  border-image: linear-gradient(141deg, rgb(0, 255, 196), rgba(0, 255, 196, 0))
    1;
}
